#* @vtlvariable name="action" class="com.atlassian.applinks.ui.confluence.ListEntityLinksAction" *#
#requireResource("com.atlassian.applinks.applinks-plugin:list-entity-links")
<html>
	<head>
		<title>$action.getActionName($action.getClass().getName())</title>
    </head>
    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-administration")
        #decoratorParam("mode"  "view-space-administration")
        <body>
            #applyDecorator ("root")
                #decoratorParam ("context" "spaceadminpanel")
                #decoratorParam ("selection" "applinks-configure-entity-links")
                #decoratorParam ("title" $action.getActionName($action.getClass().getName()))
                #decoratorParam ("selectedTab" "admin")
                #decoratorParam ("selectedSpaceToolsWebItem" "applinks-configure-entity-links-2")
                #decoratorParam("helper" $action.helper)

                #set ( $context = $action.applinksContext)

                #parse ("com/atlassian/applinks/ui/admin/list_entity_links.vm")

            #end
        </body>
    #end
</html>

