/* override AUI panel to display:table where needed (for AUI 5.7) */
.aui-page-pannel-inner.applinks-table-panel {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#applink-edit-header .applink-name {
    vertical-align: middle;
    margin-right: 20px;
}

#applink-edit-header .status-lozenge {
    vertical-align: middle;
}

#applink-edit-header aui-spinner {
    display: inline-block;
}
