
#statusMessage .success {
    background: #ddfade;
    padding: 4px;
}

#statusMessage .error {
    background: #ffe7e7;
    padding: 4px;
}

.app-authorization {
    margin: .5em 0 0 0;
    padding: .5em 0 0 0;
    border-top: 1px dotted #888;
}

.test-auth-message {
    margin: .5em 0 0 2em;
}