## Rendered by the Authentication Provider configuration servlets when a
## UnauthorizedException is thrown.
## It contains a link to the product specific login page.

#* @vtlvariable name="url" type="java.lang.String" *#
#* @vtlvariable name="i18n" type="com.atlassian.sal.api.message.I18nResolver" *#
#* @vtlvariable name="isAdmin" type="java.lang.Boolean" *#
<!DOCTYPE html>
<html>
<head>
    <title>$!message</title>
    #if (${isAdmin})
    <meta name="decorator" content="atl.admin">
    #else
    <meta name="decorator" content="atl.general">
    #end
</head>
<body>
    <div class="standalone-message">
        <div class="aui-message aui-message-warning">
            <p class="title">
                <strong>$i18n.getText('auth.config.applink.admin.privileges.required')</strong>
            </p>
            <p><a href="$url">${i18n.getText('auth.config.applink.admin.privileges.required')}</a></p>
        </div>
    </div>
</body>
</html>

