
#agent-page {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#agent-page .hidden {
    display: none;
}

/* tipsy */
.tipsy-left .tipsy-inner {
    text-align: left;
}

.url-tipsy .tipsy-inner {
    max-width: 1000px;
    text-align: left;
}

/* table */
#agent-page table {
    max-width: none;
    table-layout: fixed;
    min-width: 700px;
}

#agent-page table.aui tr.active {
    background: #ebf2f9;
}
#agent-page tr.static > td {
    text-align: center;
}
#agent-page table.aui > tbody > tr.static:hover {
    background: none;
    cursor: default;
}
#agent-page table td {
    vertical-align: middle;
}

#agent-page .applinks-type-version {
    font-size: 14px;
    line-height: 1;
}

#agent-page table aui-spinner {
    display: inline-block;
    vertical-align: middle;
}

/* trim */
#agent-page table td.trim {
    padding: 0;
    padding-right: 70px;
    min-width: 350px;
}
#agent-page table td.trim a,
#agent-page table td.trim span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* actions */
#agent-page table th.actions,
#agent-page table td.actions {
    width: 65px;
    white-space: nowrap;
}

/* levels */
#agent-page table th.level {
    padding-left: 22px;
}
#agent-page table th.level,
#agent-page table td.level {
    width: 150px;
}

/* status */
#agent-page table th.status {
    width: 200px;
}

/* status */
#agent-page table th.version {
    width: 170px;
}

/* application */
#agent-page table th.application {
    width: 32px;
    padding-right: 4px;
}

/* application */
#agent-page table th.application-name {

}

#agent-page table td.application-icon {
    margin: 0;
    padding-right: 0;
}

#agent-page table td.status {
    margin: 0;
}

/* direction */
#agent-page table div.direction {
    padding-left: 0;
    padding-right: 0;
    display: table;
    float: left;
}
#agent-page table div.direction {
    color: #999999;
    vertical-align: top;
}
#agent-page table div.level {
    vertical-align: top;
    position: relative;
    width: 1%;
    height: 74px;
}
#agent-page table div.direction span {
    padding-bottom: 19px;
    float: left;
    clear: both;
}
#agent-page table div.direction span:first-child {
    margin-top: 4px;
}

#agent-page table div.direction .direction-arrows,
#agent-page table div.direction .progress-spinner,
#agent-page table div.direction .block-icon {
    display: none;
}


#agent-page table div.direction.responded .direction-arrows,
#agent-page table div.direction.awaiting .block-icon,
#agent-page table div.direction.in-progress .progress-spinner {
    display: block;
}
#agent-page table div.direction .progress-spinner {
    height: 70px;
}
#agent-page table div.direction .block-icon .aui-icon {
    cursor: pointer;
    height: 50px;
}
#agent-page table div.direction .block-icon .aui-icon:before {
    font-size: 16px;
}
#agent-page table div.direction span:before {
    font-size: 12px;
}
#agent-page table div.direction span.error {
    color: #d04437;
}
#agent-page table div.direction span.success {
    color: #14892c;
}

#agent-page table div.level {
    display: table;
    float: left;
}

/* level-local */
#agent-page table div.level-local {
    padding-left: 0;
}

#agent-page table div.level-local .aui-progress-tracker {
    margin-left: -5px;
}

/* level-remote */
#agent-page table div.level-remote .aui-progress-tracker.unknown .aui-progress-tracker-step > span:before,
#agent-page table div.level-remote .aui-progress-tracker.unknown .aui-progress-tracker-step > a:before {
    background: #cccccc;
}
#agent-page table div.level-remote .aui-progress-tracker.unknown .aui-progress-tracker-step + .aui-progress-tracker-step > span:after,
#agent-page table div.level-remote .aui-progress-tracker.unknown .aui-progress-tracker-step + .aui-progress-tracker-step > a:after {
    background: #f5f5f5;
    box-shadow: none;
}
#agent-page table div.level-remote .aui-progress-tracker-step > span:before,
#agent-page table div.level-remote .aui-progress-tracker-step > a:before {
    background: #999999;
}
#agent-page table div.level-remote .aui-progress-tracker-step + .aui-progress-tracker-step > span:after,
#agent-page table div.level-remote .aui-progress-tracker-step + .aui-progress-tracker-step > a:after {
    background: #999999;
    box-shadow: -5px 0 0 -2px #999999, 5px 0 0 -2px #999999;
}
#agent-page table div.level-remote  .aui-progress-tracker-step-current ~ .aui-progress-tracker-step > span:before,
#agent-page table div.level-remote  .aui-progress-tracker-step-current ~ .aui-progress-tracker-step > a:before {
    background-color: #ccc;
}
#agent-page table div.level-remote .aui-progress-tracker-step-current ~ .aui-progress-tracker-step > span:after,
#agent-page table div.level-remote .aui-progress-tracker-step-current ~ .aui-progress-tracker-step > a:after {
    background-color: #f5f5f5;
    box-shadow: none;
}

#agent-page table div.level .aui-iconfont-warning:before {
    font-size: 1em;
    color: #707070;
}

#agent-page table div.level .error-hint {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(255,255,255,0.75);
    padding-top: 34px;
    left: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#agent-page table tr:hover div.level .error-hint {
    background: rgba(245, 245, 245, 0.75);
}

/* overrides */
.aui-popup {
    top: 40%;
}
.aui-inline-dialog .contents {
    padding: 20px;
}
.dialog-title .dialog-help-link {
    top: 0;
}
/*increased css specificity to have higher priority than form.aui:not(.aui-legacy-forms)*/
form.aui .v3-url-input.v3-url-input {
    padding-left: 0;
}
form.aui .v3-url-input input.text {
    height: 30px;
    margin-right: 10px;
    float: left;
}
form.aui .v3-url-input input.aui-button {
    float: left;
}

/* display urls */
#agent-page table td.trim.urls a {
    display: inline-block;
    max-width: 100%;
}

/* AUI css overrides */
/* @AUI: to get rid of the dropdown arrow for "more" action on table rows */
#agent-page table .aui-dropdown2-trigger-arrowless {
    padding-right: 8px !important;
}

#agent-page table .aui-dropdown2-trigger-arrowless:after {
    display: none;
}

/* @AUI: to make sure the inline dialog is not too close to the edge of the page */
.aui-inline-dialog {
    margin-bottom: 20px;
}

#agent-page .product-icon-row {
     width: 64px;
}

#agent-page table .status button.aui-lozenge {
    cursor: pointer;
}

.applinks-status-dialog {
    max-width: 340px;
}

.applinks-status-dialog code {
    width: 340px;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.aui-button.aui-button-link.inline-button {
    padding: 0;
    height: inherit;
}
