.application-name-alignment {
    display: flex;
    align-items: center;
}

.application-name-margin {
    margin-left: 10px;
}

.application-name-secondary {
    color: #8993a4;
    margin-left: 5px;
}

.name-container {
    display: flex;

    .entity-link-name {
        margin-right: 12px;
    }
}

button[class^='icon-styling'] {
    width: 47px;
    background-color: white;
    span > {
        display: flex;
    }
}

.top-container {
    display: flex;

    .page-title {
        margin-bottom: 10px;
    }

    .button-container {
        margin-left: auto;
    }
}

.explanation-container {
    margin: 15px 0;
}

.info-auth-container {
    padding: 15px 0px;
}

.spinner-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.option {
    display: flex;
    align-items: center;

    img {
        margin-right: 5px;
    }

    .secondary-container {
        color: #8993a4; //N90 - Meredith
        margin-left: 5px;
    }
}
